<!DOCTYPE html>
<html>
	{% load static %}  
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  {% block title %}Base page {% endblock title%}   </title> 
	<script src="{% static 'account/js/jquery.js' %}"></script>   

    <!-- CSS only -->

    {% block css %} 
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>  

    {% endblock css %}


</head>
<body>

    <div class="container"> 
                {% block navbar %}  
                        

				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
						<a class="navbar-brand" href="#">Home </a>
						<Link class="navbar-brand" to="/cart"> <img src="cart.jpg" className="cart-default"/></Link>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="profile.jpeg	" className="profile-default"/>
							</a>
							
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
								<li><Link to="/profile" class="dropdown-item">Profile</Link></li>
								<li><Link to="/sign-out" class="dropdown-item">LogOut</Link></li>
							</ul>
							</li>
						</ul>
						</div>
					</div>
					</nav>
		
		
		
									{% endblock navbar%}


                {% block content %} 
        </div>
           
                




            
           
    
    
    {% endblock content %}


</body>
</html>