{% extends 'lms/base_staff.html'%}
{% load static %}  

{% block title %} {{ title }} {% endblock title %}

{% block css  %}
   {{ block.super }}
    <link rel="stylesheet"  href="{% static 'lms/css/custom.css' %}" type="text/css" />
	<script src="{% static 'lms/js/dashboard.js' %}"></script>   
    
{% endblock css %}


{% block content %}



	<div class="tab">
		<button class="tablinks" onclick="openCity(event, 'book-requested')">Users Requested Book</button>
		<button class="tablinks" onclick="openCity(event, 'book-return')">Users Return Book</button>
	
	</div>
	
	<div id="book-requested" class="tabcontent">

		<table id="book-requested-dataTable" class="display" style="width:100%">
			<thead>
				<tr>
					<th>Book ID</th>
					<th>Book Title</th>
					<th>Username</th>
					<th>Issue Datetime </th>
					<th>Return Datetime</th>
					<th>Is Approved</th>
					<th>Is Return</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

	</div>
	
	<div id="book-return" class="tabcontent">

		<table id="book-return-dataTable" class="display" style="width:100%">
			<thead>
				<tr>
					<th>Book ID</th>
					<th>Book Title</th>
					<th>Username</th>
					<th>Issue Datetime </th>
					<th>Return Datetime</th>
					<th>Is Approved</th>
					<th>Is Return</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>


	</div>
	
	
	<script>




	function openCity(evt, cityName) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(cityName).style.display = "block";
		evt.currentTarget.className += " active";
	}

	$(document).ready(function() {


		var header = {
			"Authorization": "Bearer " + localStorage.getItem("access_token")
		}




		$(document).on('click', '.delete-button', function () {
			var dataId = $(this).data('id');
			debugger;
		
			$.ajax({
				url: 'http://localhost:8000/lms/staff-user-book-request/', 
				type: 'DELETE',
				headers: header,
				data: { book_borrower_id  : $(this).attr("book_borrower_id") },
				dataType: 'json',
				success: function (data) {
					console.log('AJAX call successful:', data);
				},
				error: function (xhr, status, error) {
					console.error('AJAX call failed:', status, error);
				}
			});
		});













		$(document).on('change', '.action-dropdown', function () {
			var selectedValue = $(this).val();
			debugger
			payload = {
				book_borrower_id  : $(this).attr("book_borrower_id"),
				is_approved  : selectedValue
			}

			$.ajax({
				url: 'http://localhost:8000/lms/staff-user-book-request/',
				type: 'PATCH',
				headers: header,
				data : payload,
				dataType: 'json',
				success: function (data) {
					console.log('AJAX call successful:', data);
					book_data = data;
				},
				error: function (xhr, status, error) {
					console.log(xhr);
					window.location.href = window.location.origin + "/account/";
					console.error('AJAX call failed:', status, error);
				}
			});

	
			
	
		});

		$('#book-requested-dataTable').DataTable({
			"ajax": {
				"url": "http://localhost:8000/lms/staff-user-book-request/",
				"headers" : header, 
				"dataSrc": ""
			},
			"columns": [
			    { "data": "book" },
				{ "data": "book_title" },
				{ "data": "borrow_username" },
				{ "data": "issue_datetime" },
				{ "data": "return_datetime" },
				{ "data": "is_approved" },
				{ "data": "is_return" },
				{
					"data": 'is_return',
					"render": function (data, type, row) {
							var dropdownHtml = '<select  class="action-dropdown" id="select-dropdown-action" book_borrower_id ="' + row.id + '">';
								dropdownHtml += '<option value="true"' + (row.is_approved === true ? ' selected' : '') + '>Approve</option>';
								dropdownHtml += '<option value="false"' + (row.is_approved === false ? ' selected' : '') + '>Pending</option>';
								dropdownHtml += '</select>';
						var deleteButtonHtml = '<button class="delete-button" id="delete-button-action" book_borrower_id="' + row.id + '">Delete</button>';
		
						return dropdownHtml + deleteButtonHtml;
					}
				}


			]
		});



		$('#book-return-dataTable').DataTable({
			"ajax": {
				"url": "http://localhost:8000/lms/staff-user-book-return/",
				"headers" : header, 
				"dataSrc": ""
			},
			"columns": [
			    { "data": "book" },
				{ "data": "book_title" },
				{ "data": "borrow_username" },
				{ "data": "issue_datetime" },
				{ "data": "return_datetime" },
				{ "data": "is_approved" },
				{ "data": "is_return" },



			]


		});

		document.querySelector('.tablinks').click();










	});










	</script>
	


   



    



{% endblock content %}